<% content_for :title do %>GDG Managua<% end %>
<% content_for :description do %>GDG Managua # Event<% end %>
<section>
  <div class="column">
    <h2>Hola, si llegaste aqui es por que deseas asistir a la # reunion del GDG Managua</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <%= f.input :name, label: false, :placeholder => 'Your name...' %>
        <br/>
        <%= f.button :submit, "Deseo asistir", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
