<% content_for :title do %>Contact<% end %>
<section>
	<div class="container jumbotron">
		<div class="row">
			<div class="col-md-7 col-md-12 col-md-offset-4">
				  <%= simple_form_for @contact do |form| %>
				  	<fieldset>
				  		<legend>You have a question?<br>Talk with us!</legend>
				  		 <%= form.error_notification %>
				  		 <div class="form-group">
				  		 		<label for="contact_name" class="col-lg-2 control-label">Name</label>
				  		 		<div class="col-lg-10">
				  		 			<%= form.input :name, label: false,:class => "form-control", :placeholder => 'Foo',autofocus: true %>
				  		 		</div>
				  		 </div>

				  		 <div class="form-group">
				  		 	<label for="contact_email" class="col-lg-2 control-label">Email</label>
				  		 	<div class="col-lg-10">
				  		 		<%= form.input :email, label: false, :class => "form-control", :placeholder => "foo@bar.com" %>
				  		 	</div>
				  		 </div>
				  		 <div class="form-group">
				  		 	<label for="contact_content" class="col-lg-2 control-label">Content</label>
				  		 	<div class="col-lg-10">
				  		 		<%= form.input :content, as: :text, label: false, :class => "form-control",:placeholder => "..." %>
				  		 	</div>
				  		 </div>

				  		 <div class="form-group">
				  		 	<div class="col-lg-10 col-lg-offset-2">
				  		 		<%= form.button :submit, 'Submit',:class => "btn btn-primary submit" %>
				  		 	</div>
				  		 </div>
				  	</fieldset>				    		
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</section>