<% content_for :title do %>Contact<% end %>
<section>
	<div class="container jumbotron">
		<div class="row">
			<div class="col-md-7 col-md-offset-2">
				<h3>You have a question?</h3>
				<h3>Talk with us!</h3>
				<div class="form">
				  <%= simple_form_for @contact do |form| %>
				    <%= form.error_notification %>
				    <%= form.input :name, autofocus: true %>
				    <%= form.input :email %>
				    <%= form.input :content, as: :text %>
				    <%= form.button :submit, 'Submit', class: 	'		submit' %>			
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</section>