<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Invite Me" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Invite Me" %>">
    <%= include_gon %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'material.min' %>
    <%= stylesheet_link_tag 'ripples.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'material-wfont.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" id="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <div class="container-fluid container-material-indigo-A400">
        <div class="row">
          <div class="col-md-12">
            <span>GDG Managua - Reservado todos los derechos 2015 - </span>
            <span>Construido con amor en Nicaragua</span>
            <!--<a class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-success pull-right" href="#main"><i class="mdi-navigation-check"></i></a>-->
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://matthew.wagerfield.com/flat-surface-shader/deploy/fss.min.js"></script>
    <%= javascript_include_tag 'material.min' %>
    <%= javascript_include_tag 'ripples.min' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
